.Albums{
text-decoration:none;
font-weight:600;
font-size:15px;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#008B8B;

}
.Albums:hover{ background-color:blue;}

.Top{
text-decoration:none;
font-weight:600;
font-size:15px;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#008B8B;
}
.Top:hover{ background-color:blue;}
.Merch{
text-decoration:none;
font-weight:600;
font-size:15px;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#008B8B;
}
.Merch:hover{ background-color:blue;}
.Biography{
text-decoration:none;
font-weight:600;
font-size:15;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#008B8B;
}
.Biography:hover{ background-color:blue;}

.Playlist{
text-decoration:none;
font-weight:600;
font-size:15;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#008B8B;
}
.Playlist:hover{ background-color:blue;}

.X100pre{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:73px;
padding-right:73px;
background-color:#141420;
outline-style: groove;
}

.Oasis{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:80px;
padding-right:90px;
background-color:black;
outline-style: groove;
}

.YHLQMDLG{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:60px;
padding-right:63px;
background-color:#008B8B;
outline-style: groove;
}

.Las-que-no-iban-a-salir{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:27px;
padding-right:25px;
background-color:#FFFF00;
outline-style: groove;
}

.El-ultimo-tour-del-mundo{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:18px;
padding-right:14px;
background-color:#000080;
outline-style: groove;
}

.Un-verano-sin-ti{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:53px;
background-color:#FF5733;
outline-style: groove;
}

.Hoddies{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:53px;
background-color:#FF5733;
outline-style: groove;
}

.Shirts{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:53px;
background-color:#FF5733;
outline-style: groove;
}

.Sweatshirts{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:53px;
background-color:#FF5733;
outline-style: groove;
}

.Accessories{
text-decoration:none;
font-weight:600;
font-size:15;
color:white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:53px;
background-color:#FF5733;
outline-style: groove;
}
